body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    
}

.content {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

h1, h2, h3 {
    margin: 10px 0;
}

#machine-name {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#list-container ul {
    padding: 0;
    list-style-type: none;
}

#list-container li {
    padding: 5px;
    margin: 5px 0;
    color: white; 

}